a {
    text-decoration: none;
}

body {
    font-family: 微軟正黑體, Arial;
    margin: 0;
    padding: 0;
    background-color: #bdbbb0;
}
.dropdown-content {
    display: none;
    position: absolute;
    align-items: center;
    font-weight: bold;
    background-color: #f9f9f9;
    width: 100px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown span{
    font-weight: bold;
    align-items: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.dropdown-content a {
    display: block; /* 設置為塊級元素，使選項垂直排列 */
    padding: 10px; /* 可根據需要調整選項的內邊距 */
    width: 80px;
    text-align: center;
    font-weight: bold;
    color: black;
    transition: background 0.5s;
}

.dropdown-content a:hover{
    background-color: #c7b88a;
}

/* 添加樣式以顯示下拉式選單 */
.dropdown:hover .dropdown-content {
    display: block;
}

/* 添加樣式以設置圖片大小 */
.dropdown-content a img {
    width: 20px; /* 設置圖片寬度 */
    height: 20px; /* 設置圖片高度 */
    margin-right: 5px; /* 可根據需要調整圖片和文字之間的距離 */
}
/*--------topbar 結尾-----------*/
footer {
    position: relative;
    font-size: 10pt;
    background-color: #362c28;
    color: #fff;
    text-align: center;
    padding: 2px;
    bottom: 0;
    width: 100%;
    margin-top: 25px;
}

.topbar {
    background-color: #8a897c;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 32px;
}

#logo img {
    width: 45px;
    padding: 5px;
    padding-top: 13px;
    padding-bottom: 10px;
    transition: background 0.5s;
}

#logo img:hover {
    background-color: #c7b88a;
}

.wheresbook {
    font-weight: bold;
    font-size: 14pt;
    padding-bottom: 7px;
    padding-top: 7px;
    letter-spacing: 2px;
}

.wheresbook a {
    text-decoration: none;
    color: white;
    padding: 15px;
    transition: background 0.5s;
}

.wheresbook a:hover {
    background-color: #c7b88a;
}

.classify {
    font-weight: bold;
    font-size: 12pt;
    padding-bottom: 11px;
    padding-top: 11px;
    letter-spacing: 2px;
}

.classify a {
    text-decoration: none;
    color: white;
    padding: 15px;
    transition: background 0.5s;
}

.classify a:hover {
    background-color: #c7b88a;

}

/*搜尋*/
.search {
    flex-grow: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-right: -18%;
}

.search input[type="text"] {
    padding: 5px;
    width: 30%;
}

#search button {
    margin-left: 5px;
    cursor: pointer;
}

/*topbar 右邊*/
.iconlinks {
    display: flex;
    align-items: center;
}

.iconlinks img {
    transition: background 0.5s;
}

.iconlinks img:hover {
    background-color: #c7b88a;
}

.iconlinks img {
    width: 40px;
    height: 40px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 5px;
    margin-top: 6px;
}

.links {
    display: flex;
    align-items: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.links a {
    text-decoration: none;
    color: #fff;
    padding: 16px;
    transition: background 0.5s;

}

.links a:hover {
    background-color: #c7b88a;
}

.title{
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.book{
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
 }

.book_table{
    text-align: center;
    width: 85%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 14pt;
    padding:10px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4)
}

.book img{
   width: 185px;
   height: auto;
   padding-right: 20px;
   padding-left: 20px;
   transition: filter 0.3s;
}

.book img:hover{
    filter:brightness(125%);
}
