a {
    text-decoration: none;
}

body {
    font-family: 微軟正黑體, Arial;
    margin: 0;
    padding: 0;
    background-color: #bdbbb0;
}

footer {
    position: relative;
    font-size: 10pt;
    background-color: #362c28;
    color: #fff;
    text-align: center;
    padding: 2px;
    bottom: 0;
    width: 100%;
}

.topbar {
    background-color: #8a897c;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 32px;
}

#logo img {
    width: 45px;
    padding: 5px;
    padding-top: 13px;
    padding-bottom: 10px;
    transition: background 0.5s;
}

#logo img:hover {
    background-color: #c7b88a;
}

.wheresbook {
    font-weight: bold;
    font-size: 14pt;
    padding-bottom: 7px;
    padding-top: 7px;
    letter-spacing: 2px;
}

.wheresbook a {
    text-decoration: none;
    color: white;
    padding: 15px;
    transition: background 0.5s;
}

.wheresbook a:hover {
    background-color: #c7b88a;
}

.classify {
    font-weight: bold;
    font-size: 12pt;
    padding-bottom: 11px;
    padding-top: 11px;
    letter-spacing: 2px;
}

.classify a {
    text-decoration: none;
    color: white;
    padding: 15px;
    transition: background 0.5s;
}

.classify a:hover {
    background-color: #c7b88a;

}

/*搜尋*/
.search {
    flex-grow: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-right: -18%;
}

.search input[type="text"] {
    padding: 5px;
    width: 30%;
}

#search button {
    margin-left: 5px;
    cursor: pointer;
}

/*topbar 右邊*/
.iconlinks {
    display: flex;
    align-items: center;
}

.iconlinks img {
    transition: background 0.5s;
}

.iconlinks img:hover {
    background-color: #c7b88a;
}

.iconlinks img {
    width: 40px;
    height: 40px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 5px;
    margin-top: 6px;
}

.links {
    display: flex;
    align-items: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.links a {
    text-decoration: none;
    color: #fff;
    padding: 16px;
    transition: background 0.5s;

}

.links a:hover {
    background-color: #c7b88a;
}

#bookList {
    margin-top: 20px;
}

#classifyselector {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

main{
 background-color: rgba(255, 255, 255, 0.2); 
 width: 60%;
 height: 100%;
 margin: auto;
 margin-top: 0px;
 padding: 5px
}

.title{
    text-align: center;
    color: white;
    font-size: 35pt;
    font-weight: bold;
    margin: auto;
    margin-bottom: 10px;
}
     
table{
    width: 90%;
    margin: auto;
    align-items: center;
  
    font-weight: bold;
    color: white;
    border: white solid 7px;
    border-radius: 10px;
}

table th, td {
    border-bottom:4px solid white;
    border-collapse: collapse;
    box-sizing: border-box;

  }

table img{
    margin-top: 10px;
    margin-left: 5px;
    height: 200px;
    padding-left: 0px;
    padding-bottom: 10px;
    
    
}

.td2{
    width: 300px;
    padding-left: 20px;
}

.td3{
    font-size: 16pt;
    text-align: center;
}

.td4{
    font-size: 16pt;
    text-align: center;
    border-bottom: none;
}
.td5{
    text-align: left;
    font-size: 16pt;
    padding-top:5px;
    padding-bottom: 5px;
}

table th{
    font-size: 30px;
    padding: 10px;
    text-align: center;
}
 
.td4{
    font-size: 16pt;
    text-align: center;
    border-bottom: none;
}

.td6{
    font-size: 16pt;
    text-align: right;
    border-bottom: none;
}

table img{
    margin-top: 10px;
    margin-left: 5px;
    height:auto;
    width: 180px;
    padding-left: 0px;
    padding-bottom: 10px;
    
    
}

.lasttr{
    border-top: white 4px solid;
    border-bottom: none;
    
}
main button{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 250px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #c7b88a;
    border-radius: 10px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px; 
}


main button:hover{
    cursor: pointer;
    background-color: #eeddaa;
    color: black;
}

input[type="checkbox"]{
    transform: scale(2);
}

input[type="radio"]{
    transform: scale(1.5);
    margin-right: 5px;
}

table input[type="text"]{
    font-size: 16pt;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
}
label{
    margin-right: 10px;
}
